header{
    height:81px;
    border-bottom: 3px dashed rgb(223, 235, 247);
}
div#header-center{
    margin: 0 auto;
    width: 128px;  
    height: 81px;
    vertical-align: middle;
}
div#header-center h1{
    width:122px;
    margin: 10px;
    display:inline-block;
}
